*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/com/example/android/med_manager/SearchAdapter
/app/src/main/java/com/example/android/med_manager/utilities/FileUtils.java
/app/src\main/java/com/example/android/med_manager/utilities/ImageUtils.java