<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.med_manager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MedFormActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ProfileActivity"></activity>

        <service
            android:name=".sync.MedReminderIntentService"
            android:exported="false" />

        <!--&lt;!&ndash; This is the Service declaration used in conjunction with FirebaseJobDispatcher &ndash;&gt;-->
        <!--<service-->
            <!--android:name=".sync.MedReminderFirebaseJobService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!-- Register the Alarm Receiver -->
        <receiver android:name=".sync.AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".data.MedProvider"
            android:authorities="com.example.android.med_manager"
            android:exported="true" />
    </application>

</manifest>